body::-webkit-scrollbar {
  display: none;
}

.custom-scroll-line {
  position: fixed;
  background-color: #8c63e0;
  z-index: 9999;
  box-shadow: 
    0 0 5px rgba(0, 0, 0, 0.5), 
    0 0 10px #7be08b, 
    0 0 20px #e09545;

  &.top {
    left: 0;
    width: 100%;
    height: 5px;
    top: 0; // Merged duplicate
  }

  &.bottom {
    right: 0;
    width: 100%;
    height: 5px;
    bottom: 0; // Merged duplicate
  }

  &.left {
    bottom: 0;
    height: 100%;
    width: 5px;
    left: 0; // Merged duplicate
  }

  &.right {
    top: 0;
    height: 100%;
    width: 5px;
    right: 0; // Merged duplicate
  }
}
