.card-project {
  position: relative;
  width: 60vw;

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-project img {
  width: 60vw;
}

.card-project svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-project:hover {
  transform: rotate(-5deg) scale(1.1);
}

/* Light mode */
[data-theme="light"] .card-project__content {
  background-color: #fff; /* White background for light mode */
  color: #ffffff; /* Text color for light mode */
}

/* Dark mode */
[data-theme="dark"] .card-project__content {
  background-color: #333; /* Dark background for dark mode */
  color: #fff; /* Text color for dark mode */
}

.card-project__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-project:hover .card-project__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

/* Light mode */
[data-theme="light"] .card-project__title {
  color: #333; /* Dark text for light mode */
}

[data-theme="light"] .card-project__description {
  color: #777; /* Lighter grey text for light mode */
}

/* Dark mode */
[data-theme="dark"] .card-project__title {
  color: #fff; /* Light text for dark mode */
}

[data-theme="dark"] .card-project__description {
  color: #ccc; /* Light grey text for dark mode */
}

.card {
  width: 100%;
}

.email-container,
.phone-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px; /* Adjust as needed */
}

.icon {
  margin-right: 8px; /* Adjust as needed */
}

.email,
.phone {
  color: #6b6b6b; /* Adjust as needed */
}

/* From Uiverse.io by boryanakrasteva */
.container-project {
  background: transparent;
  position: relative;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);
  overflow: hidden;
  border-radius: 10px;
}
/* Removes the background color from the dark and light themes */
.css-1v5z4dq-MuiPaper-root-MuiCard-root {
  background-color: transparent !important;
}
.css-v4sxju-MuiPaper-root-MuiCard-root {
  background-color: transparent !important;
}

.card-project {
  padding: 1vw;
  cursor: default;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  transition: all ease 0.3s;
}

.container-project::after,
.container-project::before {
  width: 500px;
  height: 500px;
  content: "";
  position: absolute;
  border-radius: 50%;
  transition: 0.5s linear;
}

.container-project::after {
  top: -70px;
  left: -70px;
  background-color: #7be08b;

  animation: animFirst 5s linear infinite;

  /* Add blur and transparency */
  filter: blur(20px); /* Adjust the blur amount as needed */
  opacity: 0; /* Adjust the transparency level (0.0 to 1.0) */
}

.container-project::before {
  top: 70%;
  left: 80%;

  background-color: #e09545;
  animation: animSecond 5s linear infinite;
  animation-delay: 3s;
  z-index: 1;

  /* Add blur and transparency */
  filter: blur(20px); /* Adjust the blur amount as needed */
  opacity: 0; /* Adjust the transparency level (0.0 to 1.0) */
}

.css-69i1ev{
  margin-top: 50px;
}

/* Media queries for different screen sizes */
@media (max-width: 1200px) {
  .container-project::after {
    left: -15px;
  }

  .container-project::before {
    left: 65%;
  }
}

@media (max-width: 992px) {
  .container-project::after {
    left: -10px;
  }

  .container-project::before {
    left: 60%;
  }
}

@media (max-width: 768px) {
  .container-project::after {
    left: -50px;
  }

  .container-project::before {
    left: 55%;
  }
}

@media (max-width: 576px) {
  .container-project::after {
    left: -50px;
  }

  .container-project::before {
    left: 50%;
  }
}

.container-project:hover {
  box-shadow: 0px 0px 10px 0px #e09545, 0px 0px 20px 5px #7be08b;
}

.container-project:hover::after {
  left: 80%;
  transform: scale(1.2);
  opacity: 0.6;
}

.container-project:hover::before {
  left: -80px;
  transform: scale(1.2);
  opacity: 0.6;
}

@keyframes animFirst {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

@keyframes animSecond {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes animFirst {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

@keyframes animSecond {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

video {
  width: 60vw;
}
