.switch {
  display: inline-block;
  position: relative;
  z-index: 999;

  &__input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }

  &__label {
    box-shadow: 
      0 0 5px rgba(0, 0, 0, 0.5), 
      0 0 10px #7be08b, 
      0 0 20px #e09545;
    
    position: relative;
    display: inline-block;
    width: 80px; // Updated default width
    height: 40px; // Updated default height
    background-color: #2b2b2b;
    border: 5px solid #5b5b5b;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }

  &__indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(-72%);
    display: block;
    width: 30px; // Updated default width
    height: 30px; // Updated default height
    background-color: #7b7b7b;
    border-radius: 9999px;
    box-shadow: 10px 0px 0 0 rgba(#000000, 0.2) inset;

    &::before,
    &::after {
      position: absolute;
      content: "";
      display: block;
      background-color: #ffffff;
      border-radius: 9999px;
    }

    &::before {
      top: 7px;
      left: 7px;
      width: 9px;
      height: 9px;
      opacity: 0.6;
    }

    &::after {
      bottom: 8px;
      right: 6px;
      width: 14px;
      height: 14px;
      opacity: 0.8;
    }
  }

  &__decoration {
    position: absolute;
    top: 65%;
    left: 50%;
    display: block;
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 9999px;
    animation: twinkle 0.8s infinite -0.6s;

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 5px;
      height: 5px;
      background-color: #ffffff;
      border-radius: 9999px;
    }

    &::before {
      top: -20px;
      left: 10px;
      opacity: 1;
      animation: twinkle 0.6s infinite;
    }

    &::after {
      top: -7px;
      left: 30px;
      animation: twinkle 0.6s infinite -0.2s;
    }
  }

  &__input:checked + &__label {
    background-color: #8fb5f5;
    border-color: #347cf8;

    & .switch__indicator {
      background-color: #ecd21f;
      box-shadow: none;
      transform: translate(-50%, -50%) translateX(72%);
      
      &::before,
      &::after {
        display: none;
      }
    }

    & .switch__decoration {
      top: 50%;
      transform: translate(0%, -50%);
      animation: cloud 8s linear infinite;
      width: 20px;
      height: 20px;

      &::before {
        width: 10px;
        height: 10px;
        top: auto;
        bottom: 0;
        left: -8px;
        animation: none;
      }

      &::after {
        width: 15px;
        height: 15px;
        top: auto;
        bottom: 0;
        left: 16px;
        animation: none;
      }
    }

    & .switch__decoration,
    & .switch__decoration::before,
    & .switch__decoration::after {
      border-radius: 9999px 9999px 0 0;
    }

    & .switch__decoration::after {
      border-bottom-right-radius: 9999px;
    }
  }
}

@keyframes twinkle {
  50% {
    opacity: 0.2;
  }
}

@keyframes cloud {
  0% {
    transform: translate(0%, -50%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}

.switch__indicator,
.switch__indicator::before,
.switch__indicator::after {
  transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
